.btn {
  width: 40px;
  height: 40px;
  border-radius: var(--lui-radius-full);
  border: 1px solid transparent;
  background: transparent;
  color: var(--lui-color-text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--lui-font-size-xl);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background: var(--lui-color-bg-alt);
  color: var(--lui-color-text-main);
}

.btn:active {
  transform: scale(0.95);
}

.active {
  background: var(--lui-color-primary-bg);
  color: var(--lui-color-primary);
  border-color: var(--lui-color-border-dark);
}
